/*
Description: Personal Website
Author: Tim Savage
*/
html, body {
    margin: 0;
    height: 100%;
    background-image: url(../images/bg-dark.png);
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
}

h2{
    font-size: calc(40 / 16)rem;
    font-family: 'Georama', sans-serif;
    font-weight: normal;
}

h1, h2 {
    color: #FFF;
}
h2 {
    color: rgba(255,255,255,0.75);
}

h3, a {
    color: #11999E;
}

/* Navbar Styles */
.navbar a {
    color: white;
}

/*
    font-family: 'Georama', sans-serif;

    font-family: 'Merriweather', serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Sacramento', cursive;
*/

/* Testimonials Section */
#header {
    height: 500px;
    background-color: transparent;
}
#testimonials {
    height: 500px;
    background-color: white;
    position: relative;
}
#footer {
    height: 150px;
    background-color: grey;
}

/* Box Animation */
.box {
    position: absolute;
}

/* Popover Styles */
.popover-footer {
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    background-color: #F0F0F0;
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom-left-radius: calc(.3rem - 1px);
    border-bottom-right-radius: cacl(.3rem - 1px);
}